 {{> headerAd}} 
  <!-- Nội dung -->
  <div id="content">

    <!-- Bảng dữ liệu của bạn ở đây -->
 
    <div class="mt-4">
      <h3 style="color: rgb(255, 0, 0);"> CONTACTS  </h3>
    </div>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Gmail</th>
          <th scope="col">Phone Numbers </th>
        </tr>
      </thead>
      <tbody>
        {{#each lienhes}}
        <tr>
          <th scope="row">{{sum @index 1 }}</th>
          <td>{{this.email}}</td>
          <td>{{this.phonenumber}}</td>
          <td> 
                 <a style="height:40px;width:70px" class="btn btn-xs btn-info " href="/lienhes/{{this._id}}/edit"> Update </a>
          
          </td>
        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
  </div>
</body>

</html>