 {{> headerLogin}} 





 <form class="form" method="POST" action="/taikhoan/dangky">
       <p class="form-title">Sign up to your account</p>
        <div class="input-container">
          <input type="text" id="tendangnhap" name="tendangnhap" class="input" placeholder="Enter username" required>
          <span>
          </span>
      </div>
      <div class="input-container">
           <input type="password" id="password" name="password" class="input" placeholder="Enter password" required>
        </div>
         <button type="submit" class="submit">
        Sign up
      </button>

   </form>

   <br>
   <br>
   {{> footer}}