 {{> headerLogin}} 






    <form class="form" method="POST" action="/taikhoan/dangnhap">
       <p class="form-title">Sign in to your account</p>
        <div class="input-container">
          <input autocomplete="off" type="text" id="tendangnhap" name="tendangnhap" class="input" placeholder="Enter username" required>
          <span>
          </span>
      </div>
      <div class="input-container">
           <input type="password" id="password" name="password" class="input" placeholder="Enter password" required>
        </div>
         <button type="submit" class="submit">
        Sign in
      </button>

      <p class="signup-link">
        No account?
        <a href="/taikhoan/dangky">Sign up</a>
      </p>
   </form>
   <br>
   <br>
{{> footer}}
