{{> headerShow}}

<div>
  <h1>Order Success</h1> 
  <h3 style="color: red">REMEMBER TO PAY THE DELIVERY PERSON WHEN YOU HAVE RECEIVED THE GOODS! </h3>
  <p>Thank you for your order. Your order has been recorded.</p>
</div>

<br>
<br>
{{> footer}}
