


            <footer>
                <div class="footer1">
                                
                    </div>
                </div>
             
            </footer> 


            <footer>
    <div class="footer1">


        <div class="footer1-left">
           
        </div>




        <div class="footer1-right">
            <div class="left">
               
            </div>
            <div class="right">
               
            </div>
        </div>
    </div>
   
</footer>

</div>


</body>

</html> 



    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Office Address</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>82 Street, Tran Cung, Ha Noi</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0978158745</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>nguyenducanh@gamil.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Quick Links</h4>
                    <a  href="">About Us</a>
                    <a  href="">Contact Us</a>
                    <a  href="">Our Services</a>
                    <a  href="">Terms & Condition</a>
                    <a  href="">Support</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Quick Links</h4>
                    <a  href="">About Us</a>
                    <a  href="">Contact Us</a>
                    <a  href="">Our Services</a>
                    <a  href="">Terms & Condition</a>
                    <a  href="">Support</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 >Photo Gallery</h4>
                    <div class="row g-2">
                        <a  href="">About Us</a>
                         <a  href="">About Us</a>
                          <a  href="">About Us</a>
                           <a  href="">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->